extends layout

block content
  h1 Create New Department
  form(action="/departments", method="POST")
    div
      label(for="name") Name:
      input(type="text", id="name", name="name", required=true)
    div
      button(type="submit") Create